:root {
    --bs-body-font-family: "Concert One", sans-serif;
    --bs-body-font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #000;
    color: #fff;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-link.active {
    color: #fff;
}

.navbar-brand img {
    width: 200px;
    height: 70px;
}

.head-btn {
    border-color: #fff !important;
    color: #fff;
    transition: background-color 0.4s ease, transform 0.2s ease;
}

.head-btn:hover {
    background-color: #fff;
    color: #fff;
}

.t-app-btn-outlined {
    border-color: #fff !important;
    color: #fff;
    transition: background-color 0.4s ease, transform 0.2s ease;
}

.t-app-btn-outlined:hover {
    background-color: rebeccapurple;
    color: #fff;
}

.t-app-btn-filled {
    background-color: rebeccapurple;
    color: #fff;
}

.t-app-btn-filled:hover {
    background-color: rebeccapurple;
    color: #fff;
}


.navbar-collapse {
    flex-grow: 0 !important;
}

section {
    min-height: 100px;
}

.hero-section {
    position: relative;
    z-index: 1;
    position: relative;
    padding: 50px 1rem;
    border-radius: 18px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-div {
    position: relative;
    background-image: url("../images/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 18px;
    overflow: hidden;

    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 124px;
    padding-bottom: 202px;
}

/* overlay */
.hero-div::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(28, 54, 55, 0.6);
    z-index: 0;
}

/* content above overlay */
.hero-content {
    position: relative;
    z-index: 1;
    font-family: 'Anonymous Pro', monospace;
}

.hero-content h2 {
    font-size: clamp(24px, 5vw, 60px);
    font-weight: 800;

    line-height: 1.2;
}

.hero-content p {
    font-size: large;
}

.about-section {
    margin-top: 100px;
    border-radius: 18px;
    background: #d6d6d7 !important;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}

.icon {
    font-size: 50px;
    color: rebeccapurple;
}

.stat-ul {
    font-size: 18px;
}

.stat-ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.text-primary {
    color: #663399 !important;
}

.about-image {
    width: 100%;
}

.about-image img {
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    .hero-section {
        top: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-section .hero-div {
        padding-top: 124px;
        padding-bottom: 202px;
    }
}