* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f7f2ee;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

header button {
    border-color: rebeccapurple !important;
    color: black !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}